<div class='create-form'>
  <div class="col-md-3 col-md-offset-3 pull-right">
    <a href="#/" class='btn btn-primary btn-lm'>See All</a>
  </div>
  <div class='row'>
    <h3>Enter Student Detail</h3>
    <form ng-submit='submitDetail()' name='student_detail_form' novalidate>
      <div class='form-group'>
        <label for="name">Name</label>
        <input type='text' autocomplete="off" name='name' class='form-control' ng-model='student_detail.name'  ensure-unique required pattern="[A-Za-z\s]+"/>
        <div class='error' ng-show='student_detail_form.name.$invalid && student_detail_form.name.$dirty'>
            <span class='error' ng-show='student_detail_form.name.$error.required'>Name is required field.</span>
            <span class='error' ng-show='student_detail_form.name.$error.pattern'>Only Characters are allowed.</span>          
            <span class='error' ng-show='!student_detail_form.name.$error.required && student_detail_form.name.$error.unique'>Name already taken</span>
        </div>
      </div>	
      <div class='form-group'>
        <label for="grade">Grade</label>
        <input type='number' autocomplete="off" name='grade' min='0' max='100' class='form-control' ng-model='student_detail.grade' required pattern="^[0-9]+$"/>
        <div class='error' ng-show='student_detail_form.grade.$invalid && student_detail_form.grade.$dirty'>
          <span class='error' ng-show='student_detail_form.grade.$error.required'>Grade is required field.</span>
          <span class='error' ng-show='student_detail_form.grade.$error.min'>Grade can't be negative</span>
          <span class='error' ng-show='student_detail_form.grade.$error.max'>Grade can't be more than 100</span>
          <span class='error' ng-show='!student_detail_form.grade.$error.min && student_detail_form.grade.$error.number'>Only digits are allowed</span>
        </div>
      </div>		
      <button type="submit" class="btn btn-default">Submit</button>		
    </form>
  </div>
</div>